MAILSERVER={}
DATABASE_USER=
DATABASE_PWD=
DATABASE_HOST=localhost
DATABASE_NAME=soc-local
DATABASE_PORT=3306
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:4321
WEBHOOK_URL=https://discord.com/api/webhooks/1234567890
DISCORD_OAUTH_ID=
DISCORD_OAUTH_SECRET=
DISCORD_GUILD_ID=
DISCORD_DONATOR_ID=
S3_ROOT=local
S3_ID=
S3_SECRET=
