@import 'tailwindcss' source('../../src/');

@theme {
  --breakpoint-*: initial;
  --breakpoint-md: 880px;

  --color-dark: #212529;
  --color-dark-hover: #2b3035;
  --color-gold: #ffdb37;
  --color-btn-dark: #121212;
  --color-btn-gray: #6c757d;
  --color-btn-disabled: rgba(108, 117, 125, 0.65);
  --color-gray: #3f3f3f;
  --color-gray-hover: #4f4f4f;
  --color-soc-green: #4b7667;
  --color-soc-green-dark: rgba(17, 17, 17, 0.7);
  --color-link: #6ea8fe;
  --color-hover-link: #00d4ff;
}

@layer base {
  * {
    color: white;
    font-family: 'Rubik', Sans-serif;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  button,
  a {
    cursor: pointer;
    text-align: center;

    :disabled {
      cursor: none;
    }
  }

  a:hover {
    color: var(--color-hover-link);
    text-decoration-line: underline;
  }

  option {
    color: var(--color-dark);
  }

  .rmsc .select-item .item-renderer span,
  .rmsc .dropdown-heading-value span {
    color: var(--color-dark);
  }

  .rmsc svg.gray,
  .rmsc svg.gray line {
    fill: var(--color-dark);
    color: var(--color-dark);
  }
}
