---
export const prerender = true
import { Image } from 'astro:assets'

import BaseLayout from '../layouts/base.astro'

import GuraGif from '../img/assets/doggo-thumbs-up.gif'
---

<BaseLayout>
  <div class='flex flex-1 flex-col bg-soc-green-dark py-6'>
    <div class='text-md` text-center'>Something went wrong.... yubi yubi</div>
    <Image src={GuraGif} alt='Gawr Gura roomba' class='size-80 mx-auto mt-4' />
  </div>
</BaseLayout>
