---
import Image from 'astro/components/Image.astro'

interface Props {
  href: string | null
  alt?: string
  icon?: ImageMetadata
  direct?: boolean
}
const { href, alt, icon, direct = false } = Astro.props
const { permissions } = Astro.locals
const disabled = direct && !permissions.includes('SKIP_ADS')
---

<a
  class:list={[
    direct ? 'border-gold hover:text-gold' : 'border-link hover:text-link',
    disabled ? 'bg-btn-disabled text-btn-gray' : 'bg-btn-gray text-white',
    ' flex justify-center items-center flex-1 rounded-md hover:bg-dark border-none border-2 hover:border-solid uppercase'
  ]}
  target='_blank'
  href={href}
>
  {icon ? <Image class='rounded-md' width={20} height={20} alt={alt ?? ''} src={icon} /> : null}
  <slot />
</a>
