---
const { class: className, href, perms = false } = Astro.props
const { pages } = Astro.locals

const show = !perms || pages.includes(href)
---

{
  show ? (
    <a href={href} class:list={['hover:bg-gray-hover py-1 text-left ps-4', className]}>
      <slot />
    </a>
  ) : null
}
