---
import RegisterBtn from './RegisterButton'
import LoginBtn from './LoginButton'
import LogoutBtn from './LogoutButton'

const { user } = Astro.locals
---

<div class='absolute top-0 right-0 space-x-2 mr-10'>
  {!user ? <LoginBtn client:only='react' /> : <LogoutBtn client:only='react' />}
  {!user ? <RegisterBtn client:only='react' /> : null}
</div>
