---
import RegisterBtn from './RegisterButton'
import LoginBtn from './LoginButton'
import LogoutBtn from './LogoutButton'

const session = Astro.locals.session
---

<div class='absolute top-0 right-0 space-x-2 mr-10'>
  {
    session ? (
      <LogoutBtn client:only='react' />
    ) : (
      <>
        <LoginBtn client:only='react' />
        <RegisterBtn client:only='react' />
      </>
    )
  }
</div>
