---
import { Icon } from 'astro-icon/components'
---

<nav-toggler
  class='flex flex-col md:flex-row max-[990px]:justify-center min-[990px]:ps-20 size-full'
>
  <div class='md:hidden h-[52px]'>
    <Icon
      id='nav-toggler'
      class='py-3.5 px-3.5 h-full w-auto fill-white cursor-pointer'
      name='hamburger'
    />
  </div>
  <div class='nav-items hidden md:block'>
    <slot />
  </div>
</nav-toggler>

<script>
  class Toggler extends HTMLElement {
    constructor() {
      super()

      const items = this.querySelector('.nav-items')
      const btn = document.getElementById('nav-toggler')

      btn.addEventListener('click', () => {
        items.classList.toggle('hidden')
      })
    }
  }

  customElements.define('nav-toggler', Toggler)
</script>
