---
import prismaClient from 'utils/prisma-client'
import * as m from 'paraglide/messages.js'

import AlbumBox from 'components/AlbumBox.astro'
import SidebarSection from './SidebarSection.astro'

const highlightConfig = await prismaClient.config.findUnique({
  where: { name: 'highlight' },
  select: { value: true }
})

const album = highlightConfig?.value
  ? await prismaClient.albums.findUnique({
      where: { id: parseInt(highlightConfig.value) },
      select: { title: true, id: true }
    })
  : null
---

{
  album ? (
    <SidebarSection>
      <div class='uppercase text-center text-2xl/6 font-semibold'>{m.highlightAlbum()}</div>
      <AlbumBox href={`/album/${album.id}`} title={album.title ?? 'Unknown Title'} image={`/album/${album.id}.png`} />
    </SidebarSection>
  ) : null
}
